{% extends "base.html" %}

{% block content %}

<div class="jumbotron">

{% if user.is_authenticated %}
  <h2> Hello, {{user.username}} </h2>
  <p> Let's play some games!
{% else %}
  <h2> {{message}} </h2>
<p class="lead">If you are new here please sign up to play</p>
<p><a class="btn btn-lg btn-success" href={% url 'user_signup' %} role="button">Sign Up</a></p>
{% endif %}

</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4><rb>Rules</rb></h4>
    <p>Be the first one to cross three signs in the row, column or diagonaly</p>

    <h4>Check your score!</h4>
    <p>In your Profile page, you can always check what is the status of your past or active games</p>

  </div>

  <div class="col-lg-6">
    <h4>Play with friends</h4>
    <p>Invite your friends to play with you and see who's the better</p>

    <h4>Update your profile</h4>
    <p>In your profile page you can always update your personal information, to share with other players</p>

  </div>
</div>

{% endblock content %}
